@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using LBQuiz.Data;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager




<MudThemeProvider/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6" Class="ml-3">LBQuiz</MudText>
        <MudSpacer />
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" IconColor="Color.Success">Home</MudNavLink>
        <AuthorizeView>
            <Authorized>
                <form method="post" action="/logout" style="display:inline">
                    <MudButton ButtonType="ButtonType.Submit"
                               Color="Color.Inherit"
                               Variant="Variant.Text">
                        Logout
                    </MudButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <MudButton Href="/Account/Login" Variant="Variant.Text" Color="Color.Inherit">Login</MudButton>
                <MudButton Href="/Account/Register"
                           Variant="Variant.Text"
                           Color="Color.Inherit">
                    Register
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
   
    
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


@code{
}
