@using LBQuiz.Components.Helpers
@using LBQuiz.Data
@using Microsoft.EntityFrameworkCore
@using Models
@using Microsoft.AspNetCore.Components.Authorization
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject AuthenticationStateProvider AuthStateProvider
@page "/quiz/question/choose"

<AuthorizeView>
    <Authorized>
        <h3>Choose Question</h3>
        @foreach(var q in _allQuizes)
        {
            <MudItem xs="12" md="4" Style="text-align: center">
                <MudPaper Class="pa-16 ma-2" Style="background-color: antiquewhite">
                    <MudLink Href="@($"/quiz/{q.Id}/question/create")">
                        <MudText Typo="Typo.h6" Class="mb-3">@q.Name</MudText>
                    </MudLink>
                </MudPaper>
        
            </MudItem>
        }
    </Authorized>
    
    <NotAuthorized>
        <NotAuthorizedHelper/>
    </NotAuthorized>
    
</AuthorizeView>

@code {
    private List<Quiz> _allQuizes;
    private string _currentUserId;
    private IDbContextFactory<ApplicationDbContext> _factory;


    public ChooseQuestion(IDbContextFactory<ApplicationDbContext> dbContext)
    {
        _factory = dbContext;
    }

    protected override async Task OnInitializedAsync()
    {
        using var context = await _factory.CreateDbContextAsync();
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            _currentUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        }
        _allQuizes = context.Quiz.Where(q => q.HostId == _currentUserId).ToList();
    }
}
