@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1 style="text-decoration: underline; text-align: center">LBQuiz FrontPage</h1>

<MudText Typo="Typo.h4">
    MudBlazor is @Text
</MudText>

<MudButton Variant="Variant.Filled"
           Color="Color.Dark"
           OnClick="ButtonOnClick">
    @ButtonText
</MudButton>

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudSwitch @bind-Value="_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" />

<MudText Class="ma-4">This is an example text!</MudText>


@code {
    string Text { get; set; } = "????";
    string ButtonText { get; set; } = "Click Me";
    int ClickCount { get; set; }

    private MudTheme _theme = new();
    private bool _isDarkMode;

    void ButtonOnClick()
    {
        ClickCount += 1;
        Text = $"Awesome x {ClickCount}";
        ButtonText = "Click Me Again";
    }
}