@page "/lobby/join"
@inject NavigationManager Navigation
@using LBQuiz.Models.Lobby
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable



<h3>JoinLobby</h3>

<MudTextField InputType="InputType.Text" @bind-Value="_joinCode"></MudTextField>
<MudTextField InputType="InputType.Text" @bind-Value="_nickName"></MudTextField>
<MudButton @onclick="AddUser">Join lobby</MudButton>
<MudButton @onclick="LeaveLobby">Leave lobby</MudButton>

@if (_participants.Any())
{
    <ul>
        @foreach (var user in _participants)
        {
            <li>@user.Nickname</li>
        }
    </ul>
}

@code {
    private string _joinCode = string.Empty;    
    private string _nickName = string.Empty;
    private QuizLobby _quizLobby;
    private HubConnection? _hubConnection;
    private List<LobbyParticipant> _participants = new();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/lobbyHub"))
            .Build();

        _hubConnection.On<string, List<LobbyParticipant>>("ParticipantJoined", (nickname, participants) =>
        {
            _participants = participants;
            InvokeAsync(StateHasChanged);
        });
        _hubConnection.On<string, List<LobbyParticipant>>("ParticipantLeft", (nickname, participants) =>
        {
            _participants = participants;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async Task AddUser()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.InvokeAsync("JoinLobby", _joinCode, _nickName);
            StateHasChanged();
        }
    }

    private async Task LeaveLobby()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.InvokeAsync("LeaveLobby");
            await _hubConnection.StopAsync();
            _participants.Clear();
            _quizLobby = null;
            Navigation.NavigateTo("/");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
