@page "/lobby/join"
@inject ApplicationDbContext DbContext
@inject ILobbyParticipantManager LobbyParticipantManager
@inject NavigationManager Navigation
@using LBQuiz.Data
@using LBQuiz.Services.Interfaces
@using LBQuiz.Hubs
@using LBQuiz.Models.Lobby
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable



<h3>JoinLobby</h3>

<MudTextField InputType="InputType.Text" @bind-Value="_joinCode"></MudTextField>
<MudTextField InputType="InputType.Text" @bind-Value="_nickName"></MudTextField>
<MudButton @onclick="AddUser">Join lobby</MudButton>

@if (showList != false)
{
    <ul>
        @foreach (var user in LobbyParticipantManager.GetParticipants(_quizLobby.Id))
        {
            <li>@user.Nickname</li>
        }
    </ul>
}



@code {
    private string _joinCode = string.Empty;    
    private string _nickName = string.Empty;
    private QuizLobby _quizLobby;
    private bool showList = false;

    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/lobbyHub"))
            .Build();

        _hubConnection.On<string, List<LobbyParticipant>>("ParticipantJoined", (nickname, participants) =>
        {
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async Task AddUser()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.InvokeAsync("JoinLobby", _joinCode, _nickName);
            _quizLobby = DbContext.QuizLobby.Where(q => q.JoinCode == _joinCode).SingleOrDefault();
            showList = true;
            StateHasChanged();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
