@page "/lobby/join"
@inject NavigationManager Navigation
@inject ILobbyHubConnection LobbyHub
@using LBQuiz.Services.Interfaces
@using LBQuiz.Models.Lobby
@using Microsoft.AspNetCore.SignalR.Client




<h3>JoinLobby</h3>

<MudTextField InputType="InputType.Text" @bind-Value="_joinCode"></MudTextField>
<MudTextField InputType="InputType.Text" @bind-Value="_nickName"></MudTextField>
<MudButton @onclick="AddUser">Join lobby</MudButton>
<MudButton @onclick="LeaveLobby">Leave lobby</MudButton>

@if (_participants.Any())
{
    <ul>
        @foreach (var user in _participants)
        {
            <li>@user.Nickname</li>
        }
    </ul>
}

@code {
    private string _joinCode = string.Empty;    
    private string _nickName = string.Empty;
    private QuizLobby _quizLobby;
    private List<LobbyParticipant> _participants = new();

    protected override async Task OnInitializedAsync()
    {
        await LobbyHub.InitializeAsync(Navigation);

        // Koppla eventet en gÕng
        LobbyHub.OnParticipantsChanged += async () =>
        {
            _participants = LobbyHub.Participants;
            await InvokeAsync(StateHasChanged); // sõker UI-trÕd
        };
    }

    public async Task AddUser()
    {
        await LobbyHub.JoinLobbyAsync(_joinCode, _nickName);
    }

    private async Task LeaveLobby()
    {
        await LobbyHub.LeaveLobbyAsync();
    }

}
