@using LBQuiz.Models.Lobby
@using Microsoft.AspNetCore.SignalR.Client
@using LBQuiz.Services.Interfaces
@using LBQuiz.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject NavigationManager Navigation
@inject ILobbyHubConnection LobbyHub
@inject ApplicationDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/quiz/{QuizId:int}/{LobbyId:int}"

<h3 style="text-align: center; margin-bottom: 40px;">LobbyPage</h3>


@if(CurrentLobby == null)
{
    <h1>Creating lobby...</h1>
}
else if(_quizStart == false)
{
    <MudGrid Justify="Justify.Center">
        <MudItem>
            <MudPaper Class="pa-4" Style="height:100%; min-height:200px; background-color: antiquewhite; box-shadow: 5px 5px 8px orange;">
                <MudText Typo="Typo.h4">Welcome to the LobbyPage</MudText>
                <MudText Typo="Typo.h6">Waiting for the lobbyleader to start the quiz</MudText>
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudPaper Class="pa-4" Style="height:100%; min-height:200px; background-color: antiquewhite; box-shadow: 5px 5px 8px orange;">
                <MudText Typo="Typo.h4">Lobby-Code: </MudText>
                <MudText style="text-decoration: underline;" Typo="Typo.h3">@CurrentLobby.JoinCode</MudText>
                @if (_userId == CurrentQuiz.HostId)
                {
                    <MudButton Style="margin-top: 20px;" Variant="Variant.Filled" Color="Color.Primary" OnClick="StartQuiz">Start Quiz</MudButton>
                }
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudPaper Class="pa-4" Style="height:100%; min-height:200px; background-color: antiquewhite; box-shadow: 5px 5px 8px orange;">
                <MudText Typo="Typo.h6">Number of players in the lobby: @LobbyHub.Participants.Count</MudText>
                <MudList T="string">
                    @foreach(var part in LobbyHub.Participants)
                    {
                        <MudListItem Icon="@Icons.Material.Filled.AccountCircle">@part.Nickname</MudListItem>
                    }
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>

    
   
}

@code {
    [Parameter]
    public int QuizId { get; set; }
    [Parameter]
    public int LobbyId { get; set; }
    public Models.Lobby.QuizLobby CurrentLobby { get; set; }
    public Models.Quiz CurrentQuiz { get; set; }
    private string? _userId;
    private bool _quizStart = false;

    protected override async Task OnInitializedAsync()
    {
        // Get current user ID
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        
        try
        {
            CurrentLobby = await DbContext.QuizLobby.FirstOrDefaultAsync(ql => ql.Id == LobbyId);
            CurrentQuiz = await DbContext.Quiz.FirstOrDefaultAsync(q => q.Id == QuizId);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Failed to retrieve data:" + ex);
        }

        await LobbyHub.InitializeAsync(Navigation, _userId);

        // Check if current user is the host
        bool isHost = CurrentQuiz != null && !string.IsNullOrEmpty(_userId) && _userId == CurrentQuiz.HostId;
        
        if (isHost)
        {
            // Host joins to receive events but is NOT added as a participant
            await LobbyHub.JoinLobbyAsHostAsync(LobbyId);
        }
        else
        {
            // Regular participants join as normal
            await LobbyHub.JoinLobbyAsync(CurrentLobby.JoinCode, "TestAnvändare");
        }

        LobbyHub.OnParticipantsChanged += async () =>
        {
            await InvokeAsync(StateHasChanged); // säker UI-tråd
        };

       
    }

    public async Task StartQuiz()
    {
        if (CurrentQuiz != null)
        {
            await LobbyHub.StartQuizAsync(LobbyId, QuizId, CurrentQuiz.HostId);
        }
    }


}



