@page "/Quiz/Create"
@using Data
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using LBQuiz.Components.Helpers
@using Microsoft.EntityFrameworkCore

<AuthorizeView>
    <Authorized>
        <MudGrid Class="mt-8" Justify="Justify.Center">
            <MudItem xs="12" md="8">
                <MudPaper Class="pa-6 mt-6 rounded-lg">
                    <div class="createBar">
                        <MudText Align="Align.Center" Typo="Typo.h5">
                            Create a new quiz
                            <MudIcon Icon="@Icons.Material.Filled.BorderColor"></MudIcon>
                        </MudText>
                    </div>
                    <MudTextField @bind-Value="_quizName" Label="Quiz Name" Variant="Variant.Filled" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline"></MudTextField>
                    <MudTextField @bind-Value="_quizDescription"
                        Label="Quiz Description" Variant="Variant.Filled"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline"
                        Lines="3"
                        AutoGrow="true"
                    ></MudTextField>


                    @if (_quizSaved == false)
                    {
                        <MudButton Variant="Variant.Filled" OnClick="SaveQuizToDatabase">Save Quiz</MudButton>
                    }
                    else
                    {
                        <MudText Typo="Typo.h4">Your quiz was saved successfully <MudIcon Icon="@Icons.Material.Filled.GppGood" Color="Color.Success"></MudIcon></MudText>
                    }
                </MudPaper>
            </MudItem>
        </MudGrid>
    </Authorized>

    <NotAuthorized>
        <NotAuthorizedHelper/>
    </NotAuthorized>

</AuthorizeView>

    






@code {
    private string _quizTypeValue { get; set; }
    private string _quizName { get; set; }
    private string _quizDescription { get; set; }
    private bool _quizSaved { get; set; } = false;
    private string _currentUserId; 

   

    private readonly IDbContextFactory<ApplicationDbContext> _factory;
    public CreateQuiz(IDbContextFactory<ApplicationDbContext> dbContext)
    {
        _factory = dbContext;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if(user.Identity?.IsAuthenticated == true)
        {
            _currentUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        }
    }

    async Task SaveQuizToDatabase()  
    {
        using var context = await _factory.CreateDbContextAsync();
        var newQuiz = new Models.Quiz()
        {
            Name = _quizName,
            Description = _quizDescription,
            //HostId should always be the ID for the person who is logged in
            HostId = _currentUserId // TODO: Replace with actual logged-in user ID
        };
        context.Quiz.Add(newQuiz);
        try
        {
            await context.SaveChangesAsync();
            _quizSaved = true;
            NavigationManager.NavigateTo($"/quiz/{newQuiz.Id}/question/create");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while saving the quiz: {ex.Message}");
        }
    }
}
