@using LBQuiz.Models
@using Data
@using Services.Interfaces
@using System.Collections.Concurrent;
@using LBQuiz.Models.Lobby
@using LBQuiz.Hubs
@inject ApplicationDbContext DbContext
@inject IQuestionManager QuestionManager
@inject ILobbyHubService LobbyHub
@inject ILobbyParticipantManager LobbyManager
@inject ILobbyHubConnection HubConnection


@page "/quiz/play/{quizId}/{lobbyId}"

<h3>PlayQuiz</h3>

@if (_showResults == false)
{
    @if(CurrentQuestion != null)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: 250px">
                <MudText Typo="Typo.h2" Class="mb-3">@CurrentQuestion.QuestionText</MudText>
                <MudTextField @bind-Value="Answer" Label="Answer" Variant="Variant.Filled"></MudTextField>
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveAnswer">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
}
else
{
    <ul>
        @foreach (var part in ParticipantsList)
        {
            <li>
                @part.Nickname -- @part.Score points
            </li>
        }
    </ul>
}


@code {
    [Parameter]
    public string quizId { get; set; }
    [Parameter]
    public string lobbyId { get; set; }

    public Models.QuestionOpen CurrentQuestion { get; set; }

    public List<Models.QuestionOpen> AllQuestions { get; set; }

    private int _index = 0;
    private int? _score = 0;
    public string Answer { get; set; }
    private bool answerButtonShow = false;
    private bool _showResults = false;

    public List<Models.Lobby.LobbyParticipant> ParticipantsList { get; set; } = new List<Models.Lobby.LobbyParticipant>();
    public List<string> AllAnswers = new();


    protected override void OnInitialized()
    {
        int qId = int.Parse(quizId);
        AllQuestions = QuestionManager.GetAllQuestionFromQuizId(qId);

        ParticipantsList = LobbyManager.GetLeaderboard(int.Parse(lobbyId));
        HubConnection.OnAnswerRecieved += HandleAnswerReceived;
        HubConnection.OnQuestionChanged += HandleNextQuestion;
        HubConnection.OnResultShow += HandleShowResults;

        CurrentQuestion = AllQuestions[_index];
        if (_index < (AllQuestions.Count))
        {
            _index++;
        }
    }

    public async Task SaveAnswer()
    {
        //Ska kalla på service
        await HubConnection.SubmitAnswer(int.Parse(lobbyId), Answer, int.Parse(quizId));
        //Borde skicka med viken user som svarade
        await HubConnection.UpdateScoreBoard(CurrentQuestion, Answer);
        answerButtonShow = true;
    }

    public async Task FillList(string viewString)
    {
        AllAnswers.Add(viewString);
    }

    private Task HandleAnswerReceived(string answer, Models.Lobby.LobbyParticipant lobbyParticipant)
    {
        string viewString = $"{lobbyParticipant.Nickname} answered: {answer}";
        FillList(viewString);
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }
    private Task HandleScoreBoard(string answer, Models.QuestionOpen question, Models.Lobby.LobbyParticipant lobbyParticipant)
    {
        var existing = ParticipantsList.FirstOrDefault(p => p.ConnectionId == lobbyParticipant.ConnectionId);
        if (existing != null)
        {
            existing.Score = lobbyParticipant.Score;
        }
        else
        {
            ParticipantsList.Add(lobbyParticipant);
        }
        ParticipantsList = ParticipantsList.OrderByDescending(p => p.Score).ToList();
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    private async Task HandleNextQuestion(int questionIndex)
    {
        answerButtonShow = false;
        _index = questionIndex;
        CurrentQuestion = AllQuestions[_index];
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleShowResults(bool showResults, List<LobbyParticipant> scoreBoard)
    {
        ParticipantsList = scoreBoard.OrderByDescending(p => p.Score).ToList();
        _showResults = showResults;
        await InvokeAsync(StateHasChanged);
    }
}
